<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Pet S2 - A rede social do seu bichinho de estimação</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link href="css/style.css" rel="stylesheet">

<link href="css/jquery.fancybox.css" rel="stylesheet">
<link href="css/cloud-zoom.css" rel="stylesheet">
<link href="css/portfolio.css" rel="stylesheet">
<link rel="stylesheet" href="layerslider/css/layerslider.css" type="text/css">
<link rel="stylesheet" href="layerslider/css/layersliderstyle.css" type="text/css">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- fav -->
<link rel="shortcut icon" href="assets/ico/favicon.ico">
</head>
<body>
<!-- Header Start -->
<header>
<div class="headerstrip">
    <div class="container">
    	<div class="pull-left welcometxt">
			Pet S2 - A rede social do seu bichinho de estimação
		</div>
        <!-- Top Nav Start -->
        <div class="pull-right">
            <div class="navbar" id="topnav">
                <div class="navbar-inner">
                    <ul class="nav" >
                        <li><a class="home active" href="#"><i class="icon-home"></i> Home </a> </li>
                        <li><a class="myaccount" href="#"><i class="icon-heart"></i> Meus Pets </a> </li>
                        <li><a class="shoppingcart" href="#"><i class="icon-star"></i> Adoção </a> </li>
                        <li><a class="checkout" href="#"><i class="icon-shopping-cart"></i> PetShop </a> </li>
                        <li><a class="checkout" href="#"><i class="icon-tags"></i> Anúncios </a> </li>
                        <li><a class="checkout" href="#"><i class="icon-phone-sign"></i> Contato </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Top Nav End -->
    </div>
</div>
<div class="container">
    <div class="headerdetails">
    	<a class="logo pull-left" href="index.html"><img title="SimpleOne" alt="SimpleOne" src="img/logo.png" style="margin-top: -25px;"></a>
        <div class="pull-left">
            <form class="form-search top-search">
                <input type="text" class="input-medium search-query" placeholder="Pesquise aqui...">
                <button class="btn btn-orange btn-small tooltip-test" data-original-title="Pesquisar"><i class="icon-search icon-white"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="categorymenu">
	<nav class="subnav">
		<ul class="nav-pills categorymenu container">
			<li> 
				<a class="active home" href="index.html"><i class="icon-home icon-white font18"></i> <span> Home</span></a>
			</li>
			<li><a href="index.html">Cães</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_caes.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Gatos</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_gatos.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Peixes</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_peixes.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Aves</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_aves.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Roedores</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_roedores.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Répteis e Anfíbios</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_repteis.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
			<li><a href="index.html">Outros</a>
			    <div>
			        <ul>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">115</span>&nbsp;Bull Terrier</a> </li>
			            <li><a href="productlist2.html"><span class="badge badge-important" style="width:20px;">5</span>&nbsp;Pit Bull</a> </li>			            
			        </ul>
			        <ul>
			            <li><img style="display:block" src="img/pets/banner_outros.png" alt="" title="" > </li>
			        </ul>
			    </div>
			</li>
		</ul>
	</nav>
</div>
</header>
<!-- Header End -->
<div id="maincontainer">
    <section id="product">
        <div class="container">
            <div class="row"> 
                
                <!-- Category-->
                <div class="span9"> 
                    <!-- Slider Start-->
                    <section class="slider">
                        <div class="html_carousel">
                            <div id="mainslider6">
                                <div class="slide"> 
                                	<img src="img/pets/foto1.png" alt="" title="" />
                                    <div>
                                        <h4>Slider1</h4>
                                        <p>Awesome Html5 Responsive Ecommerce Template</p>
                                    </div>
                                </div>
                                <div class="slide"> 
                                	<img src="img/pets/foto1.png" alt="" title=""/>
                                    <div>
                                        <h4>Slider2</h4>
                                        <p>Build With Twitter Bootstrap, Html5, CSS3, jquery</p>
                                    </div>
                                </div>
                                <div class="slide"> 
                                	<img src="img/pets/foto1.png" alt="" title=""/>
                                    <div>
                                        <h4>Slider3</h4>
                                        <p>Diffrent type of Home page layout  & Slider option</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="pagermainslider6" class="pager"></div>
                        </div>
                    </section>
                    <!-- Slider End--> 
                    <!-- Featured Product-->
                    <section id="featured" class="row mt40">
                        <h1 class="heading1"><span class="maintext"><i class="icon-star"></i> Pets</span></h1>
                        <ul class="thumbnails">
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <span class="sale tooltip-test"> <i class="icon-gift font24"></i> <br>
                                    Sale</span> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <span class="new tooltip-test"><i class="icon-lightbulb font24"></i> <br>
                                    New</span> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <span class="new tooltip-test"><i class="icon-lightbulb font24"></i> <br>
                                    New</span> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                            <li class="span3"> <a class="prdocutname" href="product.html">My First Product</a>
                                <div class="thumbnail"> <span class="sale tooltip-test"> <i class="icon-gift font24"></i> <br>
                                    Sale</span> <a href="#"><img alt="" src="img/product1a.jpg"></a>
                                    <div class="shortlinks">
                                        <button  data-original-title="Cart" class="btn btn-orange tooltip-test"> <i class="icon-shopping-cart icon-white"></i> </button>
                                        <button  data-original-title="Wishlist" class="btn btn-orange btn-small tooltip-test"> <i class="icon-heart icon-white"></i> </button>
                                        <button  data-original-title="Compare" class="btn btn-orange btn-small tooltip-test"> <i class="icon-refresh icon-white"></i> </button>
                                    </div>
                                    <div class="price">
                                        <div class="pricenew">$4459.00</div>
                                        <div class="priceold">$5000.00</div>
                                        <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                    
                    <!-- Section All-->
                    <section id="extras">
                        <div class="row"> 
                            <!-- Testimonial-->
                            <div class="span3">
                                <div class="sidewidt">
                                    <h2 class="heading2"><span><i class="icon-edit"></i> Testimonials</span></h2>
                                    <div class="flexslider" id="testimonialsidebar">
                                        <ul class="slides">
                                            <li> " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s."<br>
                                                " Lorem Ipsum is simply dummy text of the printing and  industry. <br>
                                                <span class="pull-right orange">By : Themeforest</span> </li>
                                            <li> " It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker   of Lorem Ipsum."<br>
                                                " Lorem Ipsum is simply dummy text of the printing and  industry. <br>
                                                <span class="pull-right orange">By : Envato</span> </li>
                                            <li> " Lorem Ipsum is simply dummy text of the printing and  industry. Lorem  has been the industry's standard dummy text ever since the 1500s."<br>
                                                " Lorem Ipsum is simply dummy text of the printing and  industry. <br>
                                                <span class="pull-right orange">By : Themeforest</span> </li>
                                            <li> " It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker."<br>
                                                " Lorem Ipsum is simply dummy text of the printing and  industry. <br>
                                                <span class="pull-right orange">By : Envato</span> </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Latest blog-->
                            <div class="span3">
                                <div class="sidewidt">
                                    <h2 class="heading2"><span><i class="icon-comments-alt"></i> Latest Blog</span></h2>
                                    <div class="flexslider" id="latesetblogsidebar">
                                        <ul class="slides">
                                            <li> <img width="50" height="50" title="product" alt="product" src="img/prodcut-40x40.jpg"> <a class="blogtitle" href="#"> My First Blog will appear here..</a> <br>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting dummy text of industry</p>
                                                <div class="pull-left"> <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span> <span class="mr10"><a href="#"><i class="icon-comment"></i> 5 Comments</a> </span> </div>
                                            </li>
                                            <li> <img width="50" height="50" title="product" alt="product" src="img/prodcut-40x40.jpg"> <a class="blogtitle" href="#"> My Second Blog will appear here..</a> <br>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting dummy text of industry</p>
                                                <div class="pull-left"> <span class="mr10"><i class="icon-calendar"></i> August 26, 2012 </span> <span class="mr10"><a href="#"><i class="icon-comment"></i> 5 Comments</a> </span> </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Newsletter-->
                            <div class="span3">
                                <div class="sidewidt">
                                    <h2 class="heading2"><span><i class="icon-volume-up"></i> Notícias</span></h2>
                                    <div id="latestnews">
                                        <ul>
                                            <li> <i class="icon-calendar font24"></i> <span class="date"> Maus tratos e abandonos: como denunciar? </span> <br>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting dummy text of industry. </li>
                                            <li> <i class="icon-calendar font24"></i> <span class="date"> August 26, 2012 </span> <br>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting dummy text of industry. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Sidebar Start-->
                <aside class="span3"> 
                    <!--  Must have -->
                    <div class="sidewidt">
                        <div class="flexslider" id="adbanner">
                            <ul class="slides">
                                <li> <img src="img/pets/foto2.png" alt="" /> </li>
                                <li> <img src="img/pets/foto2.png" alt="" /> </li>
                            </ul>
                        </div>
                    </div>
                    <br>
					<!-- Category-->
                    <div class="sidewidt">
                        <h1 class="heading1"><span class="maintext"><i class="icon-th-list"></i> Raças</span></h1>
                        <ul class="nav nav-list categories">
                            <li> <a href="category.html">Men Accessories</a>
                                <ul>
                                    <li> <a href="category.html">Women Accessories</a> </li>
                                    <li> <a href="category.html">Computers </a> </li>
                                    <li> <a href="category.html">Home and Furniture</a> </li>
                                </ul>
                            </li>
                            <li> <a href="category.html">Women Accessories</a>
                                <ul>
                                    <li> <a href="category.html">Women Accessories</a> </li>
                                    <li> <a href="category.html">Computers </a> </li>
                                    <li> <a href="category.html">Home and Furniture</a> </li>
                                </ul>
                            </li>
                            <li> <a href="category.html">Computers </a>
                                <ul>
                                    <li> <a href="category.html">Women Accessories</a> </li>
                                    <li> <a href="category.html">Computers </a> </li>
                                    <li> <a href="category.html">Home and Furniture</a> </li>
                                </ul>
                            </li>
                            <li> <a href="category.html">Home and Furniture</a> </li>
                            <li> <a href="category.html">Others</a> </li>
                        </ul>
                    </div>
                    <!-- Latest Product -->
                    <div class="sidewidt">
                        <h1 class="heading1"><span class="maintext"><i class="icon-trophy"></i> Latest Products</span></h1>
                        <ul class="bestseller">
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="price">$250</span>
                                <div class="ratingstar"> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></div>
                            </li>
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="price">$250</span> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="price">$250</span> <i class="icon-star"> </i><i class="icon-star"> </i><i class="icon-star"> </i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                        </ul>
                    </div>
                    <!--  Best Seller -->
                    <div class="sidewidt">
                        <h1 class="heading1"><span class="maintext"><i class="icon-bookmark"></i> Best Seller</span></h1>
                        <ul class="bestseller">
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="procategory">Women Accessories</span> <span class="price">$250</span> </li>
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="procategory">Electronics</span> <span class="price">$250</span> </li>
                            <li> <img width="50" height="50" src="img/prodcut-40x40.jpg" alt="product" title="product"> <a class="productname" href="product.html"> Product Name</a> <span class="procategory">Electronics</span> <span class="price">$250</span> </li>
                        </ul>
                    </div>
                    
                </aside>
                <!-- Sidebar End--> 
            </div>
        </div>
    </section>
</div>
<div class="clearfix"></div>
<!-- /maincontainer --> 
<!-- Footer -->
<footer id="footer">
    <section class="footersocial">
        <div class="container">
            <div class="row">
                <div class="span3 info">
                    <h2> <i class="icon-link"></i> Links </h2>
                    <ul>
                        <li><a href="#">My Account</a> </li>
                        <li><a href="#">Brands</a> </li>
                        <li><a href="#">Privacy Policy</a> </li>
                        <li><a href="#">Terms &amp; Conditions</a> </li>
                        <li><a href="#">Affiliates</a> </li>
                        <li><a href="#">Newsletter</a> </li>
                        <li><a href="#">Sitemap</a> </li>
                    </ul>
                </div>
                <div class="span3 contact">
                    <h2> <i class="icon-phone-sign"></i> Contact </h2>
                    <ul>
                        <li class="location"> Inn Rd, London, United Kingdom‎.‎</li>
                        <li class="phone"> +123 456 7890, +123 456 7890</li>
                        <li class="mobile"> +123 456 7890, +123 456 78900</li>
                        <li class="email"> test@test.com</li>
                    </ul>
                </div>
                <div class="span3 twitter">
                    <h2> <i class="icon-twitter-sign"></i> Twitter </h2>
                    <div id="twitter"> </div>
                </div>
                <div class="span3 facebook">
                    <h2> <i class="icon-facebook-sign"></i> Facebook </h2>
                    <div class="seperator"></div>
                    <div class="seperator1"></div>
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-like-box" data-href="http://www.facebook.com/envato" data-width="292" data-show-faces="true" data-colorscheme="dark" data-stream="false" data-show-border="false" data-header="false"  data-height="240"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="copyrightbottom">
        <div class="container">
            <div class="row">
                <div class="span5 social">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="span2 textcenter">  </div>
                <div class="span5 paymentsicons"> PetS2 @ 2013 </div>
            </div>
        </div>
    </section>
    <a id="gotop" href="#">Back to top</a> </footer>
<!-- javascript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/jquery.js"></script> 
<script type="text/javascript" src="js/jquery.easing.js"></script> 
<script src="js/respond.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script defer src="js/jquery.fancybox.js"></script> 
<script defer src="js/jquery.flexslider.js"></script> 
<script src="layerslider/js/jquery-transit-modified.js" type="text/javascript"></script> 
<script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script> 
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/jquery.tweet.js"></script> 
<script  src="js/cloud-zoom.1.0.2.js"></script> 
<script  type="text/javascript" src="js/jquery.validate.js"></script> 
<script type="text/javascript"  src="js/jquery.carouFredSel-6.1.0-packed.js"></script> 
<script type="text/javascript"  src="js/jquery.mousewheel.min.js"></script> 
<script type="text/javascript"  src="js/jquery.touchSwipe.min.js"></script> 
<script type="text/javascript" src="js/jquery.gmap.js"></script>
<script type="text/javascript" src="js/jquery.countdown.js"></script>
<script defer src="js/custom.js"></script>
</body>
</html>